<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="about">
      <h1><span class="logo-text">Memoir</span> <span>Blog</span></h1>
      <p>
        A place to pour your opinions out to the world
      </p>
      <!-- Contacts -->
      <div class="contact">
        <span>
          <i class="fas fa-phone"></i>
          +91 927 522 6799
        </span>
        <span>
          <i class="fas fa-envelope"></i>
          
          <a href="mailto:support@inovotek.com">
            vanshikaraj08@gmail.com
          </a>
        </span>

      </div>
      <!-- socials -->
      <div class="socials">
        <!-- <a href="https://www.youtube.com/c/inovotek-academy">
          <i class="fab fa-youtube"></i>
        </a> -->
        <!-- <a href="https://www.youtube.com/c/inovotek-academy">
          <i class="fab fa-instagram"></i>
        </a> -->
        <a href="https://www.linkedin.com/in/vanshika-rajpurohit-70b28b208">
        <button class="LinkedIn" style="font-size:24px">LinkedIn <i class="fa fa-linkedin-square"></i></button>
        </a>
        <a href="https://www.instagram.com/vanshi_raj1322/">
        <button class="Instagram" style="font-size:24px">Instagram <i class="fab fa-instagram"></i></button>
      </a>
        <!-- <a href="https://www.youtube.com/c/inovotek-academy">
          <i class="fa fa-linkedin-square"></i
        </a> -->
        <!-- <a href="https://www.youtube.com/c/inovotek-academy">
          <i class="fab fa-facebook"></i>
        </a> -->
       
  </footer>